*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Rubik;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
    margin: 0;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

button,
button:active,
button:focus {
    outline: none;
}

.container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}

.scroll--hidden {
    overflow: hidden
}

/* HEADER SECTION */


.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo__icon {
    margin-right: 12px;
}

.header-logo__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}


.header-search__input {
    min-width: 320px;
    border: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #333333;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-right: 32px;
}

.header-search__input::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
}

.header-search__input:focus {
    outline: none;
}

.header-search__btn {
    background: transparent;
    border: none;
    color: #E5261E;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.header-login__btn {
    padding: 10px 32px;
    background: #E5261E;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-login__btn:hover {
    background: #CC221B;
}

.header-login__user {
    display: flex;
}

.header-login__user-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-right: 16px;
    cursor: pointer;
}

.header-login__user-btn {
    background: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E5261E;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .header-search__input {
        min-width: 130px;
        margin-right: 10px;
    }

    .header-logo__text {
        font-size: 15px;

    }

    .header-wrapper {
        margin-top: 15px;
    }
}

@media screen and (max-width: 576px) {
    .header-search__input {
        max-width: 100px;
    }

    .header-logo__text {
        display: none;
    }

}

@media screen and (max-width: 425px) {
    .header-search {
        display: none;
    }
}

/* HEADER SECTION END*/

/* FILMS HEADER SECTION START */

.films-header__wrapper {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.films-header__item {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: right;
    color: #333333;
    text-decoration: none;
}

.films-header__item+.films-header__item {
    margin-left: 24px;
}

.films-header__item--active {
    color: #E5261E;
    position: relative;
}

.films-header__item--active::after {
    content: '';
    position: absolute;
    background: #E5261E;
    left: 0;
    bottom: -9px;
    width: 100%;
    height: 2px;
}

@media screen and (max-width: 768px) {
    .films-header__item {
        font-size: 20px;
    }
}

/* FILMS HEADER SECTION END */


/* FILMS LATEST SECTION START*/

.films-latest {
    margin-top: 40px;
}

.films-latest__title-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}

.films-latest__items {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .films-latest__items {
        justify-content: space-evenly;
    }

    .films-latest__card {
        margin-right: 10px;
    }
}

.films-latest__card {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 280px;
    margin-bottom: 10px;
}

.films-latest__card-wrapper {
    position: relative;
}

.films-latest__card-img {
    border-radius: 5px;
}

.films-latest__hover-text {
    position: absolute;
    left: 0;
    padding: 16px;
    height: 99%;
    width: 100%;
    text-align: left;
    background: rgba(51, 51, 51, 0.8);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    border-radius: 5px;
    color: #F2F2F2;
    display: none;
}


.films-latest__card-wrapper:hover .films-latest__hover-text {
    display: inline-block;
}


.films-latest__card-text {
    margin-top: 12px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

/* FILMS LATEST SECTION END*/


/* FILMS GENRES SECTION START*/

.films-genres {
    margin-top: 32px;
}

.films-genres__items {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .films-genres__items {
        justify-content: space-evenly;
    }

    .films-genres__card {
        margin-right: 10px;
    }
}

.films-genres__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}

.films-genres__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: #F2F2F2;
    min-height: 208px;
    min-width: 280px;
    padding-bottom: 24px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    opacity: 0.8;
}

.films-genres__card:hover {
    opacity: 1;
}

.films-genres__card-icon {}

.films-genres__card-text {
    margin-top: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.films-genres__card--yellow {
    background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}

.films-genres__card--orange {
    background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}

.films-genres__card--blue {
    background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}

.films-genres__card--black {
    background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}

/* FILMS GENRES SECTION END*/


/* CHANNELS GENRES SECTION START*/

.channels {
    margin-top: 36px;
}

.channels-wrapper {
    max-height: 696px;
    /* overflow-y: scroll; */
}

.channels-card {
    display: flex;



    padding: 20px 0;
    margin: 0 auto;

    background: #F2F2F2;
    border-radius: 8px;
}

.channels-card:not(:first-child) {

    margin-top: 16px;
}

.channels-card__logo {
    /* margin-right: 175px; */
    /* width: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33333%;
}

.channels-card__schedule {
    width: 66.66667%;
}

.channels-card__schedule-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.channels-card__schedule-item {
    padding-top: 12px;
    display: flex;
}

.channels-card__schedule-item--active {
    font-size: 16px;
    line-height: 19px;
    color: #E5261E;
}

.channels-card__schedule-time {
    margin-right: 16px;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 425px) {
    .channels-card {
        padding: 20px 20px;
    }

    .channels-card__logo {
        position: absolute;
        justify-content: flex-start;
        align-items: center;
    }

    .channels-card__logo-img {
        width: 25px;
        height: 25px;
    }

    .channels-card__schedule-title {
        padding-left: 56px;
    }

    .channels-card__schedule {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {}


/* CHANNELS GENRES SECTION END*/








/* FOOTER START*/

.footer {
    margin-top: 72px;
    background: #F2F2F2;
}

.footer-wrapper {
    display: flex;
    padding: 25px 0;
}

.footer-logo {
    margin-right: 40px;
}


.footer-info__address {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.footer-info__phone {
    margin-top: 6px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.footer-info__phone-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.footer-info__link {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1F4766;
}


/* FOOTER END*/


/* scroll bar*/

.ss-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    float: left;
}

.ss-content {
    height: 100%;
    width: calc(100% + 18px);
    padding: 0 0 0 0;
    position: relative;
    overflow-x: auto;
    overflow-y: scroll;
    box-sizing: border-box;
}

.ss-content.rtl {
    width: calc(100% + 18px);
    right: auto;
}

.ss-scroll {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    width: 9px;
    border-radius: 4px;
    top: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.25s linear;
}

.ss-hidden {
    display: none;
}

.ss-container:hover .ss-scroll,
.ss-container:active .ss-scroll {
    opacity: 1;
}

.ss-grabbed {
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 20;

}

.modal.modal--show {
    display: flex;
}

.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px;
    z-index: 21;
    background: #FFFFFF;
    border-radius: 8px;
}

.modal__title {}

.modal__inputs {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.modal__login {
    border: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #333333;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
}

.modal__login::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
}

.modal__pass {
    margin-top: 24px;
    border: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #333333;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
}

.modal__pass::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
}

.modal__member-label {}

.modal__member-checkbox {
    margin-top: 24px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.modal-login__btn {
    margin-top: 111px;
    padding: 10px 32px;
    background: #E5261E;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-login__btn:hover {
    background: #CC221B;
}

.modal__shadow {
    position: fixed;
    border: none;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
    background: #333333;
    opacity: 0.6;
}