/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
    margin: 0;
}

body {
    min-height: 100vh;
}

a:not([class]) {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}


.container {
    
}