.channels {
    margin-top: 36px;
}

.channels-wrapper {
    max-height: 696px;
    /* overflow-y: scroll; */
}

.channels-card {
    display: flex;



    padding: 20px 0;
    margin: 0 auto;

    background: #F2F2F2;
    border-radius: 8px;
}

.channels-card:not(:first-child) {

    margin-top: 16px;
}

.channels-card__logo {
    /* margin-right: 175px; */
    /* width: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33333%;
}

.channels-card__schedule {
    width: 66.66667%;
}

.channels-card__schedule-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.channels-card__schedule-item {
    padding-top: 12px;
    display: flex;
}

.channels-card__schedule-item--active {
    font-size: 16px;
    line-height: 19px;
    color: #E5261E;
}

.channels-card__schedule-time {
    margin-right: 16px;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 425px) {
    .channels-card {
        padding: 20px 20px;
    }

    .channels-card__logo {
        position: absolute;
        justify-content: flex-start;
        align-items: center;
    }

    .channels-card__logo-img {
        width: 25px;
        height: 25px;
    }

    .channels-card__schedule-title {
        padding-left: 56px;
    }

    .channels-card__schedule {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {}