.films-genres {
    margin-top: 32px;
}

.films-genres__items {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .films-genres__items {
        justify-content: space-evenly;
    }

    .films-genres__card {
        margin-right: 10px;
    }
}

.films-genres__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}

.films-genres__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: #F2F2F2;
    min-height: 208px;
    min-width: 280px;
    padding-bottom: 24px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    opacity: 0.8;
}

.films-genres__card:hover {
    opacity: 1;
}

.films-genres__card-icon {}

.films-genres__card-text {
    margin-top: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.films-genres__card--yellow {
    background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}

.films-genres__card--orange {
    background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}

.films-genres__card--blue {
    background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}

.films-genres__card--black {
    background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}